h1{
    font-size:30px;
    color: red;
    font-weight: bold;
}
// sass 04-exo.scss 04-exo.css --watch
// ce qu'il y a en + dans sass 
// variable !! 
// bon appétit => 13h34 // bon appétit 

// => pouvoir commencer à utiliser le langage

// pouvez vous créer le fichier 05-variables.scss