// Arrêter et reprendre 
// sass 07-variable-suite.scss 07-variable-suite.css --watch

// variable 
// stocker des valeurs 

$normal : 16px;
$petit : $normal * 0.7 ;
$grand : $normal * 1.5 ;

.introduction{
    font-size: $grand;
}
.conclusion {
    font-size: $petit;
}

// il est possible de stocker dans des variables des sélecteurs / mot css 

$partie1 : ".first" ; // stocker du texte dans la variable 
$partie2 : ".last" ;

#{$partie1}{
    color : red;
}

#{$partie2}{ // sélecteur #{$nom-variable}
    font-size: $grand; // valeur $nom
}

// responsive design 

$martphone : "screen and (max-width : 350px)";

@media #{$martphone}{
    h1{
        font-size: $petit;
    }
}

$tablette-paysage : "screen and (min-width:350px) and (max-width:480px)" ;

// vous stockez 1 fois la valeur => 

@media #{$tablette-paysage}{
    h1{
        font-size: $normal;
    }
}

@media #{$martphone} , #{$tablette-paysage}{
    p{
        font-size: $grand;
    }
}

/*
début du fichier => 10 / 15 variables
ou sinon
créer un fichier à part => 20 variables 
=> n'importe 

p 
#intro
.hello
p .hello
h2 a span 

@font-face
@media

*/

// cas pratique 
// crer le fichier 08-exo.scss 
// stopper et compilier le nouveau fichier

// variables 
// 2 couleur bleu et rouge (récupérer les couleurs sur colorhunt)
// 2 tailles : l 20px  // h 30px
// marge : 5px 
// responsive 
// variable grand-ecran  min de largeur 960px
// variable moyen-ecran  min de largeur 720px  max de largeur 960px
/* les règles css suivants (syntaxe sass) 
h1{
    taille de police : marge * 5
    color : blue
    border : blue et le reste
}
p{
    marge des 4 côtes : moitier de la hauteur
    color : rouge
    marge h et b marge et g et droite 4 * marge 
}
// si je suis une grand écran alors 
h1 
taille police de 7* marge

// si je suis une grand écran ou un moyen écran alors 
p
taille police de 2* marge





*/



