// sass 01-exo.scss 01-exo.css --watch

// quand vous écrivez du html => les balises vont avoir un peu de mise en forme par défaut
// p 
// h1

@import "_reset.scss";

//générale 
a{
    text-decoration: none;
    color:grey;
}

body{
    font-family: sans-serif;
}
// variable 
// mixin 
// zone entête 
header{
    display: flex; // met les éléments les uns à côté des autres 
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        align-items: center;
    }
    li{
        margin-left: 20px;
        cursor: pointer;
    }
    .last{
        border:1px solid blue;
        padding: 5px 15px;
        border-radius: 5px;
        transition: 1s background, 1s color ;
    }
    .last:hover{
        background: blue;
    }
    .last:hover a{
        color:white;
    }
}

main{
    width: 60%;
    margin: 30px auto 0 auto;
    text-align: center;
    p{
        margin: 40px 0;
    }
    .prix{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    article{
        border:1px solid grey;
        border-radius: 5px;
        h2{
            padding: 10px 0;
            background: rgb(218, 209, 209);
        }
        h3{
            padding: 10px 0;
        }
        a{
            border:1px solid blue;
            padding: 10px 0px;
            margin: 20px 40px;
            border-radius: 5px;
            display: block;
        }
        a.actif{
            background: blue;
            color: white;
        }
    }
}


// pause café => rdv 11h15 
// exo 
// boucle loop avec SASS 
