// sass 03-exo.scss 03-exo.css --watch
a{
    text-decoration: none;
}
.container{
    margin: 0 auto;
    width:960px;
}
header{
    display: grid;
    grid-template-columns: 120px 1fr;
    ul{
        display: flex;
        list-style: none;
        justify-content: space-between;
    }
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 10px;
    margin-top: 10px;
    img{
        width:100%;
    }
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
}
